:before, :after {
    box-sizing: content-box;
}

.clearfix:after {
    content: " ";
    display: table;
    clear: both;
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    font-size: 12px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
    line-height: 22px;
}

html, body, div, p, ul, li, ol, dl, dt, dd, pre, code, table, tr, td, form, fieldset, legend, button, input, textarea, h1, h2, h3, h4, h5, h6, hr, blockquote {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: content-box;
}

body {
    display: block;
    margin: 8px;
}


.skin_normal .wrap1 {
    background-color: #dceffe;
}

div {
    display: block;
}


.head_main .head_middle, .head_main .head_content {
    width: 740px;
    margin: 0 auto;
}

.card_banner {
    display: block;
    position: relative;
    overflow: hidden;
    _zoom: 1;
}

.card_top_theme {
    border-top: 1px solid #E9EBF0;
}

.card_top_wrap {
    background-color: #F2F4F7;
    background-image: -moz-linear-gradient(top,#f5f7fa,#f2f4f7);
    background-image: -webkit-linear-gradient(top,#f5f7fa,#f2f4f7);
    background-image: -o-linear-gradient(top,#f5f7fa,#f2f4f7);
    background-image: linear-gradient(top,#f5f7fa,#f2f4f7);
    _background: #F2F4F7;
}
.clearfix {
    zoom: 1;
}

.card_banner img {
    width: 100%;
    vertical-align: top;
}
img {
    border: 0;
}

.card_top_theme .card_top {
    padding-left: 200px;
}
.card_top {
    height: 74px;
    line-height: normal;
    position: relative;
    padding: 15px 0 0 100px;
    font-family: STHeiti,"Microsoft Yahei",Arial,SimSun;
    float: left;
}

.card_top_theme .card_head, .card_top_theme .card_head_img {
    width: 150px;
    height: 150px;
}
.card_top_theme .card_head {
    padding: 4px;
    overflow: hidden;
    background: #FFF;
    z-index: 9;
    top: auto;
    bottom: -5px;
    border-color: #DADCDF;
    margin: 20px;
}

.card_head {
    padding: 2px;
    border: solid 1px rgba(0,0,0,.1);
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    margin: 15px;
}
.card_head, .card_head_img {
    width: 60px;
    height: 60px;
    display: block;
    overflow: hidden;
}

.card_top_theme .card_title {
    margin: 0;
}
.card_title {
    margin: 5px 0 0;
    height: 40px;
    position: relative;
}

.card_slogan, .card_title_fname {
    margin-top: 3px\9\0;
}
.card_slogan, .card_title_fname {
    margin-top: 0\0;
}

.card_slogan, .card_title_fname {
    margin-top: 0;
}
.card_slogan {
    color: #4c4c4c;
    font-size: 14px;
    float: left;
    padding-right: 30px;
    position: relative;
    max-width: 280px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card_info {
    position: relative;
    float: left;
    font-size: 14px;
    height: 20px;
}

a:visited {
    text-decoration: none;
}

a {
    color: #2d64b3;
    text-decoration: none;
}
a {
    background-color: transparent;
}
* {
    box-sizing: content-box;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}

.card_top_theme .card_head, .card_top_theme .card_head_img {
    width: 150px;
    height: 150px;
}
.card_head, .card_head_img {
    width: 60px;
    height: 60px;
    display: block;
    overflow: hidden;
}

img {
    border: 0;
}

.card_title_fname {
    margin-right: 0;
    margin-top: 3px;
}
.card_slogan, .card_title_fname {
    margin-top: 3px\9\0;
}
.card_slogan, .card_title_fname {
    margin-top: 0\0;
}
.card_slogan, .card_title_fname {
    margin-top: 0;
}
.card_title_fname, .card_num {
    float: left;
}
.card_title_fname {
    font-size: 22px;
    color: #333;
    margin-right: 15px;
}
.card_num {
    margin-top: 13px;
    margin-left: 10px;
}

.card_title_fname, .card_num {
    float: left;
}
.card_slogan, .card_title_fname {
    margin-top: 3px\9\0;
}

.card_slogan, .card_title_fname {
    margin-top: 0\0;
}
.card_slogan, .card_title_fname {
    margin-top: 0;
}
.card_slogan {
    color: #4c4c4c;
    font-size: 14px;
    float: left;
    padding-right: 30px;
    position: relative;
    max-width: 280px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.card_numLabel {
    color: #AAA;
}
.card_menNum, .card_infoNum {
    color: #ff7f3e;
    font-family: Arial;
    margin-right: 15px;
}
.card_numLabel {
    color: #AAA;
}
.card_infoNum {
    margin-right: 5px;
}
.card_menNum, .card_infoNum {
    color: #ff7f3e;
    font-family: Arial;
    margin-right: 15px;
}
ul, ol, li {
    list-style: none;
}
.card_info .bottom_list li {
    display: inline;
}
.card_info .bottom_list span {
    color: #AAA;
}
a {
    color: #2d64b3;
    text-decoration: none;
}

a {
    background-color: transparent;
}
.content {
    min-height: 800px;
}
.content, .foot {
    width: 740px;
    margin: 0 auto;
}
.forum_content {
    background: #fff;
    border-right: 1px solid #e4e6eb;
    border-left: 1px solid #e4e6eb;
    border-bottom: 1px solid #e4e6eb;
}
.forum_content .main {
    float: left;
    width: 740px;
}
.threadlist_bright {
}

ul, ol, li {
    list-style: none;
}
.threadlist_bright li.thread_top_list_folder, .threadlist_bright li.thread_top_list_folder:hover {
    padding: 0;
    background-color: #fff;
}

.threadlist_bright li.thread_top_list_folder {
    border-bottom: 0;
    margin-right: 2px;
}
.threadlist_bright li {
    position: relative;
    border-bottom: 1px dotted #e4e6eb;
}
ul, ol, li {
    list-style: none;
}
.icon_top_folder {
    display: none;
    position: absolute;
    left: -24px;
    top: 0;
    width: 24px;
    height: 86px;
    background: url(top_folder_140e4b2.png);
}

a {
    color: #2d64b3;
    text-decoration: none;
}
a {
    background-color: transparent;
}
.threadlist_bright li {
    position: relative;
    border-bottom: 1px dotted #e4e6eb;
}
.threadlist_bright .thread_notice .t_con, .threadlist_bright .thread_top .t_con {
    padding-bottom: 6px;
}

.threadlist_bright .t_con {
    padding: 10px 0;
    margin: 0 20px;
}
.threadlist_bright .t_con img, .threadlist_bright .t_con i, .threadlist_bright .t_con a, .threadlist_bright .t_con span, .threadlist_bright .t_con em, .threadlist_bright .t_con strong, .threadlist_bright .t_con b, .threadlist_bright .t_con input, .threadlist_bright .t_con button {
    vertical-align: middle;
}
a:visited {
    text-decoration: none;
}

.icon_thread_hidden {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 26px;
    height: 26px;
    background: url(hidden_eba896a.png);
}
.forum_content .t_con .col2_left, .forum_content .t_con .col2-left {
    width: 70px;
}
.col2_left, .col2-left {
    float: left;
    min-height: 1px;
}
.forum_content .t_con .col2_right, .forum_content .t_con .col2-right {
    margin-left: 70px;
}
.col2_right, .col2-right {
    position: relative;
    min-height: 1px;
}
.threadlist_rep_num {
    display: inline-block;
    width: 50px;
    height: 30px;
    line-height: 26px;
    margin-right: 20px;
    text-align: center;
    background: url(f_reply_bg_89030dc.png) no-repeat;
}
.center_text, .center-text {
    display: block;
    text-align: center;
}
.threadlist_title {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.threadlist_text, .threadlist_title {
    width: 460px;
}

.pull_left, .pull-left {
    float: left!important;
}
.threadlist_author {
    width: 165px;
    color: #999;
}
.pull_right, .pull-right {
    float: right!important;
}
.threadlist_title .icon-voice, .threadlist_title .icon-game-type-client, .threadlist_title .icon-novel-thanks, .threadlist_title .icon-novel-genuine, .threadlist_title .icon-novel-chapter, .threadlist_title .icon-game-feature-strategy, .threadlist_title .icon-game-feature-sports, .threadlist_title .icon-game-feature-shooting, .threadlist_title .icon-game-feature-network, .threadlist_title .icon-game-feature-cosplay, .threadlist_title .icon-game-feature-casual, .threadlist_title .icon-game-feature-cards, .threadlist_title .icon-game-feature-action, .threadlist_title .icon-game-type-web, .threadlist_title .icon-game-type-mobile, .threadlist_title .icon-game-type-mini-game, .threadlist_title .icon-novel-reward, .threadlist_title .icon-zhengwen-book, .threadlist_title .icon-fb-following, .threadlist_title .icon-mass-response, .threadlist_title .icon-guessing, .threadlist_title .icon-repost, .threadlist_title .icon-member-top, .threadlist_title .icon-top, .threadlist_title .icon-vote, .threadlist_title .icon-vote, .threadlist_title .icon-fb-solved, .threadlist_title .icon-userdefine-diamond-mall, .threadlist_title .icon-user-mask, .threadlist_title .icon-activity, .threadlist_title .icon-good, .threadlist_title .icon-zhaoji, .threadlist_title .icon-notice, .threadlist_title .icon-good-album, .threadlist_title .icon-idisk, .threadlist_title .icon-liveshow-promoter, .threadlist_title .icon-bakan, .threadlist_title .icon-picture {
    background-image: url(thread_item_title_z_c27132b.png);
}

.threadlist_title .icon-top {
    background-position: -172px -108px;
}
.threadlist_title .icon-top {
    display: inline-block;
    width: 31px;
    height: 17px;
    background-repeat: no-repeat;
}
.threadlist_title i {
    margin-right: 4px;
    vertical-align: middle;
}
.threadlist_title a:visited {
    color: #653096;
}
.threadlist_author {
    width: 165px;
    color: #999;
}

.pull_right, .pull-right {
    float: right!important;
}
.threadlist_bright .threadlist_lz .tb_icon_author {
    width: 135px;
}
.is_show_create_time {
    display: none;
}

.pull_right, .pull-right {
    float: right!important;
}
.threadlist_bright .icon_fav, .threadlist_bright .icon_pop, .threadlist_bright .icon_retract, .threadlist_bright .icon_ypic, .threadlist_bright .icon_turnright, .threadlist_bright .icon_turnleft, .threadlist_bright .icon_replyer, .threadlist_bright .icon_author, .game_thread_detail_wrapper .upward, .game_thread_detail_wrapper .downward {
    background-image: url(thread_list_z_eca48fe.png);
}

.threadlist_bright .icon_author {
    background-position: -30px -60px;
}
.threadlist_bright .icon_author, .threadlist_bright .icon_replyer, .threadlist_bright .icon_turnleft, .threadlist_bright .icon_turnright, .threadlist_bright .icon_ypic, .threadlist_bright .icon_retract, .threadlist_bright .icon_pop, .threadlist_bright .icon_fav {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.threadlist_bright .icon_author {
    background-repeat: no-repeat;
}
.threadlist_author .frs-author-name-wrap {
    display: inline-block;
    width: 87px;
}
.threadlist_bright .frs_bright_icons {
    float: none;
    margin: 0 0 0 2px;
    display: inline-block;
    zoom: 1;
    vertical-align: -2px;
    _vertical-align: 2px;
    _margin-top: 4px;
}
.icon_wrap_theme1 {
    float: left;
}
.threadlist_bright .threadlist_author a:visited {
    text-decoration: none;
}
.threadlist_bright .threadlist_author a:visited {
    color: #999;
}
.threadlist_bright .threadlist_author a {
    color: #999;
    text-decoration: none;
}
.threadlist_author .frs-author-name {
    display: inline-block;
    max-width: 67px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.threadlist_bright li {
    position: relative;
    border-bottom: 1px dotted #e4e6eb;
}
.threadlist_bright .t_con {
    padding: 10px 0;
    margin: 0 20px;
}
.forum_content .t_con .col2_left, .forum_content .t_con .col2-left {
    width: 70px;
}
.col2_left, .col2-left {
    float: left;
    min-height: 1px;
}
.forum_content .t_con .col2_right, .forum_content .t_con .col2-right {
    margin-left: 70px;
}
.col2_right, .col2-right {
    position: relative;
    min-height: 1px;
}
.threadlist_rep_num {
    display: inline-block;
    width: 50px;
    height: 30px;
    line-height: 26px;
    margin-right: 20px;
    text-align: center;
    background: url(f_reply_bg_89030dc.png) no-repeat;
}

.center_text, .center-text {
    display: block;
    text-align: center;
}
.threadlist_bright .threadlist_detail {
    padding-top: 3px;
    position: relative;
}
.threadlist_title {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.threadlist_text, .threadlist_title {
    width: 460px;
}
.pull_left, .pull-left {
    float: left!important;
}
.threadlist_author {
    width: 165px;
    color: #999;
}

.pull_right, .pull-right {
    float: right!important;
}
.threadlist_title a:visited {
    color: #653096;
}
.threadlist_bright .threadlist_lz .tb_icon_author {
    width: 135px;
}
.is_show_create_time {
    display: none;
}

.threadlist_bright .icon_fav, .threadlist_bright .icon_pop, .threadlist_bright .icon_retract, .threadlist_bright .icon_ypic, .threadlist_bright .icon_turnright, .threadlist_bright .icon_turnleft, .threadlist_bright .icon_replyer, .threadlist_bright .icon_author, .game_thread_detail_wrapper .upward, .game_thread_detail_wrapper .downward {
    background-image: url(thread_list_z_eca48fe.png);
}
.threadlist_bright .icon_author {
    background-position: -30px -60px;
}
.threadlist_bright .icon_author, .threadlist_bright .icon_replyer, .threadlist_bright .icon_turnleft, .threadlist_bright .icon_turnright, .threadlist_bright .icon_ypic, .threadlist_bright .icon_retract, .threadlist_bright .icon_pop, .threadlist_bright .icon_fav {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.threadlist_bright .icon_author {
    background-repeat: no-repeat;
}
.threadlist_author .frs-author-name-wrap {
    display: inline-block;
    width: 87px;
}
.threadlist_bright .frs_bright_icons {
    float: none;
    margin: 0 0 0 2px;
    display: inline-block;
    zoom: 1;
    vertical-align: -2px;
    _vertical-align: 2px;
    _margin-top: 4px;
}

.icon_wrap_theme1 {
    float: left;
}
.threadlist_bright .threadlist_author a:visited {
    text-decoration: none;
}
.threadlist_bright .threadlist_author a:visited {
    color: #999;
}

.threadlist_bright .threadlist_author a {
    color: #999;
    text-decoration: none;
}
.threadlist_author .frs-author-name {
    display: inline-block;
    max-width: 67px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.threadlist_text, .threadlist_title {
    width: 460px;
}
.pull_left, .pull-left {
    float: left!important;
}
.threadlist_author {
    width: 165px;
    color: #999;
}

.pull_right, .pull-right {
    float: right!important;
}
.threadlist_bright .threadlist_abs_onlyline, .threadlist_bright .threadlist_abs {
    width: 460px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #666;
}
.threadlist_bright .small_wrap {
    position: relative;
    margin-top: 6px;
}
.threadlist_bright .small_btn_pre {
    background-position: 0 -48px;
    left: -31px;
}
.threadlist_bright .small_btn_pre, .threadlist_bright .small_btn_next {
    position: absolute;
    top: 50%;
    margin-top: -17px;
    width: 16px;
    height: 34px;
    overflow: hidden;
    background: url(small_pic_btns_bd06888.png) no-repeat;
}
.threadlist_bright .small_btn_next {
    background-position: 0 0;
    right: -31px;
}

.threadlist_bright .small_list {
    position: relative;
    width: 460px;
    overflow: hidden;
}
.threadlist_bright .small_list_gallery {
    width: 10000px;
}
.threadlist_bright .threadlist_media {
    position: relative;
}
.threadlist_bright .threadlist_media li {
    float: left;
    margin-right: 10px;
    height: 135px;
    _font-size: 82px;
}

.threadlist_bright li {
    position: relative;
    border-bottom: 1px dotted #e4e6eb;
}
.vpic_wrap {
    text-align: center;
}

.thumbnail {
    position: relative;
    display: inline-block;
}
.threadlist_media .threadlist_pic_highlight {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    opacity: .1;
    filter: alpha(opacity=10);
}

.threadlist_pic, .threadlist_pic_highlight {
    cursor: url(cur_zin_ae7c4cf.cur),pointer;
    _cursor: url(cur_zin_ae7c4cf.cur),pointer;
}
.vpic_wrap img {
    vertical-align: middle;
}

.thumbnail img {
    width: 100%;
    height: 100%;
}
img {
    border: 0;
}
.threadlist_media .threadlist_pic_highlight {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    opacity: .1;
    filter: alpha(opacity=10);
}

.pull_right, .pull-right {
    float: right!important;
}
.threadlist_bright .icon_fav, .threadlist_bright .icon_pop, .threadlist_bright .icon_retract, .threadlist_bright .icon_ypic, .threadlist_bright .icon_turnright, .threadlist_bright .icon_turnleft, .threadlist_bright .icon_replyer, .threadlist_bright .icon_author, .game_thread_detail_wrapper .upward, .game_thread_detail_wrapper .downward {
    background-image: url(thread_list_z_eca48fe.png);
}
.threadlist_bright .icon_replyer {
    background-position: 0px -60px;
}
.threadlist_bright .icon_author, .threadlist_bright .icon_replyer, .threadlist_bright .icon_turnleft, .threadlist_bright .icon_turnright, .threadlist_bright .icon_ypic, .threadlist_bright .icon_retract, .threadlist_bright .icon_pop, .threadlist_bright .icon_fav {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.threadlist_bright .icon_replyer {
    background-repeat: no-repeat;
}



.threadlist_bright .threadlist_author a:visited {
    text-decoration: none;
}
.threadlist_bright .threadlist_author a:visited {
    color: #999;
}
.threadlist_bright .threadlist_author a {
    color: #999;
    text-decoration: none;
}
.threadlist_author .frs-author-name {
    display: inline-block;
    max-width: 67px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.thread_list_bottom .pagination-default {
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.th_footer_bright {
    color: #999;
}
.pagination-default .pagination-current {
    background: #fff;
    color: #3e89fa;
    border: 1px solid transparent;
}
.pagination-default .pagination-item {
    display: inline-block;
    cursor: pointer;
    line-height: normal;
    text-decoration: none;
    padding: 5px 9px;
    font-size: 12px;
    background: #fff;
    color: #666;
    border: 1px solid #e6e6e6;
}
.pagination-default .pagination-item:visited {
    color: #666;
}
.pagination-default .pagination-item:visited {
    text-decoration: none;
}
.pagination-default .pagination-item {
    display: inline-block;
    cursor: pointer;
    line-height: normal;
    text-decoration: none;
    padding: 5px 9px;
    font-size: 12px;
    background: #fff;
    color: #666;
    border: 1px solid #e6e6e6;
}
.th_footer_bright .th_footer_l {
    width: 650px;
    float: left;
    margin-top: 7px;
    margin-left: 18px;
}
.red_text, .red-text, .vip_red, .vip-red, .vip_red:hover, .vip-red:hover, .vip_red:visited, .vip-red:visited {
    color: #f74d4a!important;
}
.pagination-default .pagination-current {
    background: #fff;
    color: #3e89fa;
    border: 1px solid transparent;
}


